.form_container {
  max-width: 300px;
  margin: auto 0;
  background-color: #fff;
  border-radius: 15px;
}
.form_container input[type="submit"] {
  border-radius: 8px;
  background-color: green;
  color: #eee;
  border: none;
  min-width: 100px;
  min-height: 2.5em;
  width: 100%;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: bold;
}

.form_container input[type="button"] {
  margin-top: 10px;
  border-radius: 8px;
  background-color: red;
  color: #eee;
  border: none;
  min-width: 100px;
  min-height: 2.5em;
  width: 100%;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: bold;
}
.map {
  position: absolute;
  top: 30%;
  left: 50%;
  height: 40%;
  width: 40%;
  background-color: red;
}